Source: python-aiohttp
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Tianon Gravi <admwiggin@gmail.com>,
           Paul Tagliamonte <paultag@debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all (>= 3.4~),
               python3-nose,
               python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/KeepSafe/aiohttp/
Vcs-Svn: svn://anonscm.debian.org/python-modules/packages/python-aiohttp/trunk/
Vcs-Browser: http://anonscm.debian.org/viewvc/python-modules/packages/python-aiohttp/trunk/
X-Python3-Version: >= 3.4

Package: python3-aiohttp
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: http client/server for asyncio
 HTTP Client for asyncio.
 .
 This package provides Python 3 module bindings only.
