Source: python-aiohttp
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Tianon Gravi <admwiggin@gmail.com>,
           Paul Tagliamonte <paultag@debian.org>,
           Piotr Ożarowski <piotr@debian.org>
Build-Depends: debhelper (>= 10),
               dh-python,
               python3-all-dev (>= 3.4~),
               python3-all-dbg (>= 3.4~),
               python3-setuptools,
               python3-sphinx,
               python3-multidict,
               python3-async-timeout,
               python3-yarl,
               cython3,
# for tests:
               python3-pytest,
               python3-pytest-mock,
               python3-chardet,
               python3-gunicorn
Standards-Version: 4.1.2
Homepage: https://aiohttp.readthedocs.org
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/python-aiohttp.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/python-aiohttp.git
X-Python3-Version: >= 3.4

Package: python3-aiohttp
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: http client/server for asyncio
 HTTP Client for asyncio (PEP 3156 - Asynchronous I/O Support).
 .
 Features:
  * supports both client and server side of HTTP protocol,
  * supports both client and server Web-Sockets out-of-the-box,
  * web-server has middlewares and pluggable routing.

Package: python3-aiohttp-dbg
Architecture: any
Section: debug
Depends: python3-aiohttp (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: http client/server for asyncio - debug version
 HTTP Client for asyncio (PEP 3156 - Asynchronous I/O Support).
 .
 Features:
  * supports both client and server side of HTTP protocol,
  * supports both client and server Web-Sockets out-of-the-box,
  * web-server has middlewares and pluggable routing.
 .
 This package contains the extension built for the Python 3 debug interpreter.
